{% extends "base.html" %}
{% load static %}
{%load bootstrap3%}
{% block content %}


   <div class="page">
      
      <div class="update-form">

         <form action="/edit/" method="post" enctype="multipart/form-data">
            <div class="legend">
               <h5>Edit Profile</h5>
            </div>
            {% csrf_token %}
          
            {%bootstrap_form form%}
            <button type="submit" class="btn">Submit</button>
         </form>
      </div>
      
   </div>

{% endblock content %}