{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row" style="padding-top:100px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
        <h2>Sign up</h2>
        </div>
        <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p> (Official Music Video)
            133,769,398 views
            ￼
            6.9M
            ￼
            201K
            ￼
            SHARE
            ￼
            SAVE
            ￼
            ￼
            Lil Dicky
            Premiered Apr 18, 2019
            SUBSCRIBE 5.6M
            For more information on how to save the Earth go to https://welovetheearth.org 
            
            To purchase or stream Earth go to https://LilDicky.lnk.to/Earth
            
            "Earth"
            
            Song:
            
            Written by: David Burd, Benjamin Levin, Magnus August Høiberg, Josh Coleman and Jamil Chammas
            Produced by: Benny Blanco and Cashmere Cat
            Mixed by: Serban Ghenea
            Vocals by: Lil Dicky
            Additional Vocals by: Justin Bieber, Ariana Grande, Halsey, Zac Brown, Brendon Urie, Hailee Steinfeld, Wiz Khalifa, Snoop Dogg, Kevin Hart, Adam Levine, Shawn Mendes, Charlie Puth, SIA, Miley Cyrus, Lil Jon, Rita Ora, Miguel, Katy Perry, Lil Yachty, Ed Sheeran, Meghan Trainor, Joel Embiid, Tory Lanez, John Legend, Backstreet Boys, Bad Bunny, Psy, Kris Wu
            Choir Vocals by: Denise Janae, Naari Michele, Tiffany Palmer, Onitsha Shaw, George Potts, Mark Hood
            Drums/Percussion by: Chris Dave
            Choir Coordination by  Anthony Evans for Sherman James Productions
            
            Music Video:
            
            Created by RYOT
            A full list of credits can be found here: https://welovetheearth.org/credits/
            
            Directed By:
            Nigel Tierney
            Federico Heller
            
            Produced By:
            Zeda Stone
            Michael Broccolo
            Nigel Tierney
            German Heller
            
            Executive Producers:
            Mike Hertz
            Scooter Braun
            Zeda Stone
            Nigel Tierney
            
            Head of Story:
            Steven Gordon
            
            Art Direction:
            Ricky Baba
            Patrick Moss
            
            Graphic Design:
            Aisha Yousaf
            
            Music Video Mixer/Sound Designer:
            Erik Lohr
            
            Production Supervisor:
            Crystal Tierney
            
            Post Supervisor:
            Jason Alexander
            
            Business Affairs & Legal:
            Everett Hendler
            Josh Carpenter
            
            
            
            Animation Producer:
            German Heller
            
            Head of Production:
            Matías Bossié
            
            Art Director:
            Federico Carlini
            
            CG Producer:
            Santiago Tereso
            
            Animation Producers:
            Marco Lococo
            Julian Dorado
            
            Head of CG - Alejandro Turano
            
            Live Action Intro:
            Director - Tony Yacenda
            MV Executive Producer - Jacki Calleiro
            MD / Executive Producer - Lisa Margulis
            EP / Head of Production - Elizabeth Minzes
            Producer - Jona Ward
            Director of Photography - Adam Bricker
            Production Designer - Almitra Corey
            Casting - Good People Casting / Cindy Estada
            
            Editor- Patrick Tuck / Rock Paper Scissors
            Prop Master - Rose Leiker
            Prop Asst. - Christopher Labasbas
            Set Decorator - Lizzie Boyle
            Lead Person - Minh-Triet "Anthony” Nguyen
            Set Dresser - Andy Rines
            
            Gang Boss -  Ed Lassak
            G+E Driver - Renee Guy
            MoHo Driver-  Martin Perez
            
            Artist Make Up  - Golden Sun Shyne
            Artist Hair - Andrea Jackson
            Cast Make Up - Jacque Piotrowski
            Stylist - Chloe Badawy
            Asst. Stylist - David Gangel
            Craft Services - Yaxkin Garcia
            Medic - Gary Gomez
            Studio Teacher - Phil Eisenhower
            
            Talent:
            Ring Leader - Vallon Deville
            Middle Kid - Gabriel Brown
            Younger Kid - Devin Carey
            Skater - Cree Kawa
            Convenience Store Owner - Jason Nott
            BG Talent Casting - Atmosphere Casting
            
            Trailers:
            Trailer Editor: Mary Ahlman
            Graphic Design: Ricky Baba
            Sound Design: Erik Lohr
            
            Website:
            Web Producer: Eric Day
            Lead Web Developer: Zach Tauber
            UX/UI Design: Predrag Markovic
            Copywriter: Jeff Sloniker
            Tutorial Video Editor: Mary Ahlman
            Tutorial Video Editor: Ryan Eakins
            Tutorial Video Editor: Eric Martin
            Sound Design: John Adams
            Color: Lookwell Color // Loren White
            VFX & Motion Graphics: DYAD // Fernando Rodriguez
            Animation: Teng Teng Chan
            
            Special Thanks:
            The Leonardo DiCaprio Foundation
            Justin Winters
            Karl Burkhart
            Edward Bell
            Scooter Braun Projects
            Shauna Nep
            Jackie Augustus
            Rogers & Cowan
            Sacks & Co
            Caleb Garrett
            Crystal Jr & Nigel Jr
            SHOW MORE
            
          {% endfor %}
          </div>
          <div class="card-footer">
          <button type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}